*{
	margin: 0;
	padding: 0;
	text-align: center;
}

/*nav{
  width: 100%;
  height: 2.8em;
  background-color: white;
  padding-top: 19px;
}*/
a{
	color: #474866;
	text-decoration: none;
}
/*nav a:visited{
	color:#474866;
}
nav a{
	padding: 85px;
}*/
/*---------------------------------------HOME PAGE*/
#home-page{
	background-image: url('img/home_background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
}
#title{
	color:#191919;
	padding-top: 4em;
	font-size: 50px;
	font-weight: lighter;
	padding-bottom: 20px;
}
#aboutme-link a{
	color:#191919;
	font-size: 25px;
}
#aboutme-link a:hover{
	color:#7D728D;
}
#home-page h3{
	padding-bottom: 30px;
}

.page-button{
  padding: 4px;
  width: 220px;
  height: 44px;
  font-size: 20px;
  background-image: url('img/black-marble-print.jpg');
  background-position-x: 520px;
  background-position-y: -73px;
  border: none;
}
#right-page-button{
  background-position-x: 78px;
  background-position-y: -228px;
}
.page-button a{
	color: white;
	font-weight: lighter;
}
.page-button:hover {
	background-image: url('img/white-background.png');
}
.page-button:hover a {
	color:black;
	font-weight: normal;
}

/*---------------------------------------ABOUT PAGE*/
#about-me-page{
	font-family: 'Open Sans', sans-serif;	
}
#about-me-img{
	background-image: url('img/about-me-img.jpg');
	background-repeat: no-repeat;
  float: left;
  height: 650px;
  width: 47%;
}
#about-me-text{
	float: right;
	width: 50%;
  height: 650px;
  display: inline-block;
  padding-top: 65px;
  margin-right: 24px;
}
#about-me-text h3{
  text-align: left;
  color:#191919
}
#about-me-text p{
  text-align: left;
  color:#191919;
}
footer {
	width: 100%;
	height: 2.7em;
  position: absolute;
  bottom: -90px;
}
footer img{
	display: inline-block;
	margin: 0 auto;
	width: 50px;
	height: 50px;
	text-align: center;
	float: none;
  padding-bottom: 15px;
  padding-top: 15px;
	padding-left: 40px;
  padding-right: 40px;
}



/*---------------------------------------WEB PAGE*/
#web-page{
	font-family: 'Open Sans', sans-serif;	
}
#web-page h1{
	color: #2D2D2D;
	font-weight: lighter;
	padding-top: 40px;
	color: #8196A9;
}
#web-page hr{
	color: #8196A9;
	background-color: #8196A9;
	height: 1px;
	border: 0;
}
#skills-container{
  float: left;
  height: 2500px;
  width: 35%;
 	display: inline-block;
}
#skill-list{
	border-right: #8196A9 solid 1px;
  padding: 33px;
	height: 2400px;
}

#skills-container h3{
	padding: 20px;
	font-size: 28px;
	font-family: "Century Gothic", sans-serif;
	font-weight: lighter;
	color: #474866;
}
#skills-container h4{
	padding: 10px;
	font-size: 20px;
	font-family: "Century Gothic", sans-serif;
	color: #474866;
}

#all-projects-container h1{
	padding-bottom: 22px;
}
#all-projects-container h4{
	font-size: 18px;
	color: #474866;
}
#all-projects-container{

	float: right;
	width: 65%;
  height: 2500px;
  display: inline-block;
}
.p-container{
	padding: 55px 0px 55px 0px;
}

.p-button{
  padding: 4px;
  width: 220px;
  height: 44px;
  font-size: 24px;
  background-image: url('img/black-marble-print.jpg');
  background-position-x: 172px;
  background-position-y: -233px;
  border: none;
}
.p-button a{
	color: white;
	font-weight: lighter;
}
.p-button:hover {
	background-image: url('img/white-background.png');


}
.p-button:hover a {
	color:black;
	font-weight: normal;
}

#p-stack{
	text-decoration: overline;
	padding-bottom: 30px;
}
#coding-icon{
	padding-right: 5px;
  width: 20px;
  height: 19px;
}



/*--------------------------------------MEDIA QUERY WEB<870px */
@media (max-width: 870px){
	/*nav{
		width: 100%;
 		height: 5em;
 		padding-top: 5px;
 		padding-bottom: 5px;
 		background-color: white;
	}
	nav a{
		display: block;
		padding: 3px;
	}*/
	#title{
		font-size: 40px;
		padding-top: 3.5em;
	}
	.page-button{
		display: block;
		margin: 0 auto;
		margin-top: 10px;
	}
	#home-page {
	/*background-position: -200px;*/
	}

	#about-me-img{
		float: none;
		width: 80%;
	  height: 570px;
	  margin: 0 auto;
	}
	#about-me-text{
		float: none;
		width: 80%;
		height: 360px;
    padding-top: 20px;
  }
	#about-me-text h3{
	  text-align: center;

	}
	#about-me-text p{
	  text-align: center;
	}
	footer{
		position: relative;
	}

} /*End Media Query#1*/


/*--------------------------------------MEDIA QUERY WEB<760px */
@media (max-width: 760px){
	#web-page h1{
		padding-top: 40px;
		margin-bottom: -20px;
	}
	#skills-container{
	  float: none;
	  display: inline-block;
	  width: 100%;
	  height: 800px;
	}
	#skill-list{
		border: none;
		padding: 0;
	}
	#first-skill{
		margin-top: 10px;
	}
	#skills-container h3{
		padding: 8px;
		font-size: 23px;

	}
	#skills-container h4{
		padding: 10px;
		font-size: 20px;
	}
	#all-projects-container h1{
		padding-bottom: 22px;
	}
	#all-projects-container{
		float: none;
	  display: inline-block;
		width: 100%;
	}
		
} /*End Media Query#2*/

/*--------------------------------------MEDIA QUERY WEB<560px */
@media (max-width: 560px){
	#about-me-img{
		width: 560px;
	  height: 600px;
	  margin-top: -190px; 
	  display: block;
	  margin: auto;
	}
	#about-me-text{
		clear: right;
		margin: 0;
		height: 470px;
	}
	footer img{
		padding-left: 15px;
	  padding-right: 15px;
	}
} /*End Media Query#3*/


